.document-page {
    margin-top: 90px;
}

.document-page h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.code-heading {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    color: #fff;
    background-color: #0e0b0b;
}

.code-req {
    background-color: #fff;
    color: #000;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 500;
}

.code-body {
    font-weight: bold;
}

.code-ans {
    font-size: .9rem;
    line-height: 1.5rem;
    margin-left: 15px;
}

.code-ans span {
    display: block;
    padding: 5px;
}

.code-ans span:hover {
    background-color: #c8c8c871;
    cursor: pointer;
}